<div class="main-container">
  <div class="search-bar-container">
    <div>
      <p>
        <input type="text" placeholder="Filtra nota">
        <span><i class="bi bi-search"></i></span>
      </p>
    </div>
  </div>

  <div class="notes-list">
  <app-note-card
  *ngFor="let todo of todos; index as i"
  [link]="todo.id"
  (delete)="deleteNote(todo.id)"
  [title]="todo.title"
  [subtitle]="todo.subtitle"
  ></app-note-card>
  </div>
  <button class="addBtn" routerLink="new">+Add</button>
</div>
