@import './parzials/_reset';
@import './parzials/fonts';
@import './parzials/_colors';
@import './parzials/_navbar';
@import './parzials/_hero';
@import './parzials/_scrollFilm';
@import './parzials/_footer';
@import './parzials/_profile';
@import './parzials/_setting';
@import './parzials/_kids';



