<main>
  <h1>4<span>👻</span>4</h1>
  <h2>Error: 404 page not found</h2>
  <p class="p-3">

Ci siamo resi conto che c'è stato un piccolo inconveniente durante la tua registrazione sul nostro sito e desideriamo aiutarti a risolvere il problema al più presto.

    Abbiamo notato che alcuni dati forniti durante la registrazione potrebbero non essere corretti o completi. Ci teniamo a garantire che la tua esperienza sul nostro sito sia il più fluida e piacevole possibile, quindi è importante che tutti i tuoi dettagli siano accurati.

   </p>
  <button class="btn btn-link text-white" [routerLink]="['../register']">indietro</button>
</main>
