body{
    font-family: 'Roboto', sans-serif;
}
/* Sezione nav che scrolla*/
nav{
    padding: 1.2rem;
    border-bottom: 1px solid rgba(41, 41, 41, 1);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #ffc017;
    transition: background 300ms linear;
}
.top-bar{
    transition-property: background-color;
    transition-duration: 1s;
}
nav svg{
    padding: 1rem;
    padding-left: 4rem;
}
nav div{
    display: flex;
    align-items: center;
}
nav ul{
    display:flex;
    list-style: none;
    padding: 1rem;
}
nav li{
    padding: 0 1.2rem;
}
nav li a{
    text-decoration: none;
    color: #191919
}
.button-nav{
    background-color:#191919;
    transition-property: background-color;
    transition-duration: 1s;
    border-radius: 35px;
    color: white;
    padding:1.2rem;
    border: none;
}
.bg-white{
    background-color: white;
}
.bg-green{
    background-color: #4caf50;
}


/* Sezione header*/
header{
    background-color: #ffc017;
    margin-top: 5rem;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #191919;
    padding: 1rem;
}
.title{
    padding: 4rem;
    display: flex;
    flex-direction: column;

}
#header h1{
    font-family: 'Spectral', serif;
    font-size: 125px;
}
#header p{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    padding: 2.5rem 0;
}
#header button{
    width: 25%;
    font-size: 20px;
    border: none;
    box-sizing: border-box;
    padding-inline: 1.3rem;
    padding-block: 0.8rem;
    border-radius: 40px;
    color: white;
    background-color: #191919;
}
.allM{
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
}

/* Sezione articoli "trending on medium"*/
section{
    padding: 4rem;
    padding-top: 1.5rem;
    display:flex;
    flex-direction: column;
    border-bottom: 1px solid #e6e6e6;
}
section h2{
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #191919;
    font-weight: bold;
    padding-bottom: 1rem;
}
#section1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 33%;
}
.rank{
    display: flex;
    width: 33%;
    margin: 1rem 0
}
.number{
    color: #e6e6e6;
    padding: 1rem 2rem 1rem 0;
    font-size: 2rem;
}
.autore{
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}
.autore img{
    border-radius: 100%;
    height:1.7rem;
    margin-right: 1rem;
}
.rank a{
    text-decoration: none;
    color: #191919;
    font-weight: bold;
    font-size: large;
}
.rank p{
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1rem;
}
.data{
    color: #757575;
}
/* Tutto il content con articoli, aside e footer*/
.main-content{
    margin-top: 3rem;
    display: flex;
}

/* CSS di ogni articolo */
.articolo{
    width: 100%;
    display: flex;
    padding-left: 3rem;
    margin-bottom: 2rem;
}
.testo-articolo{
    display: flex;
    flex-direction: column;
    width: 65%;
}
.autore-articolo{
    display: flex;
    align-items: center;
}
.autore-articolo img{
    width: 1.5rem;
    margin-right:1rem;
    border-radius: 100%;
}
.title-articolo{
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem;
}
.content-articolo{
    margin: 0.5rem 0;
    color: #89898a;
}
.footer-articolo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lastChild-articolo{
    display: flex;
    align-items: center;
    color: #89898a;
}
.button-articolo{
    background-color: #c6c6c67c;
    transition: background-color 0.2s ease-in-out;
    border-radius: 20px;
    padding:0.3rem 0.7rem;
    border: none;
    color: #89898a;
}
.button-articolo:hover{
    background-color: white;
}
.img-articolo{
    width: 40%;
    height: 100%;
    padding-left: 2rem;
}
.img-articolo img{
    width: 218px;
}
.square img{
    border-radius: 4px ;
}


#aside-footer{
    width:50%;
    margin-right: 3rem;
}
.all-aside{
    width: 100%;
    position: sticky;
    top: 12rem;
}
.all-aside p{
    color: #191919;
    font-size: 1rem;
    font-weight: bold;
    padding: 0 0 1rem 0;
}
.all-aside button{
    color: #757575;
    background-color: white;
    border: 1px solid  #ebecec;
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 0.4rem 1rem;
    margin: 0.2rem 0.2rem 0.2rem 0;
}
footer{
    border-top: 1px solid #ebecec;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    margin-top: 1rem;
    padding-top: 1rem;
}
footer a{
    text-decoration: none;
    color: #757575
}
footer div{
    margin-right: 1rem;
    padding: 0.3rem;
}
.apparizioneLettera {
    transition: 200ms ease-in;
    opacity: 1;
}
#square1 img{
    border-radius: 4px ;
}
/*  mobile: fino a 552px
    tablet: da 553px a 903px
    desktop: da 904px   */
.allArticle{    
    display: flex;
    flex-direction: column;
    align-items: center;}
@media screen and (max-width: 552px) {
    nav li{
        display: none;
    }
    nav{
        font-size: 0.6rem;
    }
    .button-nav{
        font-size: 0.5rem;
        padding: 0.5rem;
    }
    .title{
        padding: 0;
        padding-top: 1rem;
    }
    #header button{
        width: 50%;
        padding: 0.2rem;
    }
    nav svg{
        padding: 0;
        width: 70%;
    }
    nav li:last-child{
        display: unset;
    }
    .allM{
        display: none;
    }
    #header h1{
        font-size: 4rem;
        padding-top: 2rem;
    }
    #header p{
        font-size: 1.3rem;
        font-weight: 300;
    }
    #header{
        padding-bottom: 3rem;
    }
    section{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding: 0.5rem;
        font-size: 0.8rem;
    }
    .number{
        padding-right: 1rem;
    }
    .rank a {
        font-size: 0.8rem;
    }
    .img-articolo{
        width: 100%;
    }
    .img-articolo img {
        width: 100%;
    }
    .content-articolo {
        font-size: 0.8rem;
    }
    .rank{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .rank svg{
        display: none;
    }
    .title-articolo{
        font-size: 1rem;
    }
    .square img{
        border-radius: 100%;
    }
    .main-content{
        display: flex;
        flex-direction: column-reverse;
    }
    #aside-footer{
        position: unset;
        width: 80%;
        margin-inline: auto ;
        padding-bottom: 2rem;
    }
    .articolo{
        width:80%;
        padding:0;
        margin-right: 0;
        margin-bottom: 2rem;
        font-size: 0.8rem;
    }
    .footer-articolo{
        font-size: 0.7rem
    }
.button-articolo{
    font-size: 0.7rem;
    padding: 0 0.5rem;
}
.lastChild-articolo{
    flex-wrap: wrap;
}
}
@media screen and (min-width: 553px) and (max-width:903px) {
    nav li{
        font-size: 0.8rem;
    }
    nav svg{
        width: 30%;
    }
    .button-nav{
        font-size: 0.8rem;
    }
    #header button{
        width: 50%;
    }
    #header h1 {
        font-size: 4rem;
    }
    #header p{
        font-size: 1.3rem;
        font-weight: 300;
    }
    #header{
        padding-bottom: 3rem;
    }
    section{
        padding: 1rem;
    }
    #section1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        column-gap: 0.2rem;
    }
    .rank{
        display: flex;
        flex-direction: row;
        width: 48%;
    }
    .rank svg{
        display: none;
    }
    .main-content{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    #aside-footer{
        position: unset;
        width: 80%;
        padding-left: 3rem;
        padding-bottom: 2rem;
    }
    .square img{
        border-radius: 100%;
    }
    footer{
        row-gap: 0;
        font-size: 15px;
    }
    .allM{
        left: 375px;
        width: 100%;
    }
    .articolo{
        width:80%;
        padding:0;
        margin-right: 0;
        margin-bottom: 3rem;
    }


}