/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');


*{
  font-family: 'Yomogi', cursive !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  width:100%;
overflow-x:hidden;
background-color: #fedfa9;}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

::-webkit-scrollbar {
  width: 10px;
}

/* Stile del thumb (il "manico" della scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: #fa9220;
  border-radius: 5px;
}

/* Stile della traccia (l'area di sfondo della scrollbar) */
::-webkit-scrollbar-track {
  background-color: none !important; /* Colore della traccia */
}
