.main{
  height: 100%;
  width: 100%;
  background-image: url('../../../../assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;


  .container-fluid{
    height: 100%;
    backdrop-filter: blur(8px);
  }
  h1{
    color: #c37418;
    font-size: 100px;
  }
}
