<div class="main">
  <div class="container-fluid d-flex align-items-center flex-column justify-content-center">
    <div class="row">
      <h1 class="title text-center">"Stufo delle solite mimose di <span>Michele</span>? Crea la tua pizza che conquista i
      veri intenditori!"</h1>
    </div>
      <div class="row">
        <button type="button" class="btn btn-success" [routerLink]="['login']">Login</button>
        <button type="button" class="btn btn-link" [routerLink]="['register']">Registrati</button>
      </div>
  </div>
</div>


