<div class="main">
  <div class="container-fluid d-flex align-items-center flex-column justify-content-center">
<form>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label text-white">Email</label>
    <input class="form-control" type="email" placeholder="Inserisci la tua email"
  name="email" [(ngModel)]="data.email">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label text-white">Password <span>(Deve contenere almeno 5 caratteri)</span></label>
    <input class="form-control" type="password" placeholder="Inserisci la tua password"
    name="password" [(ngModel)]="data.password">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label text-white">Nome</label>
  <input class="form-control" type="text" placeholder="Il tuo Nome"
  name="name" [(ngModel)]="data.name">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label text-white">Cognome</label>
 <input class="form-control" type="text" placeholder="Il tuo Cognome"
  name="surname" [(ngModel)]="data.surname">
  </div>

  <button
  (click)="register()"
  class="btn btn-danger"
  >Registrati</button>

</form>


<button type="button" class="btn btn-link text-white mt-5" [routerLink]="['/']">Back</button>

</div>
</div>

