
body{
    background-image: url(../img/sfondo.png);
    background-attachment: scroll;
    background-size: auto;
    font-family: 'Poppins', sans-serif;
    line-height: 1.3rem;
}


.top-bar{
    background-image: radial-gradient(circle at 37.72% -19.64%, #0088aa 0, #0088aa 25%, #026888 50%, #026888 75%, #006f88 100%);
    text-align: center;
    margin: 1.5rem;
    padding: 1rem;
    box-shadow: 2px 2px 5px #414040;
    text-transform:uppercase;
    }

.top-bar div, nav, a{
    color:white;
    text-decoration: none;
}
.topbar-list{
   
        list-style-type: none;
     
}
       

.content{
    background-color: white;
    margin: 1.5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    box-shadow: 2px 2px 5px #414040;
      }

#title{
    font-size:x-large;
    font-weight: bold;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}
#subtitle{
    font-size: smaller;
    color:gray;
    margin-bottom: 1rem;
}
h2{
    margin-top: 1rem;
}
p{
    margin-bottom: 1rem;
}
ul, ol{
    padding-left: 2.5rem ;
    margin-bottom: 1rem;
}
code{
    background-color: #dfe5e6;
    border:0.8px solid #aaa9a9;
    border-radius: calc(15%);
    padding: 0.8px;
    line-height: 1.7rem;
}
p strong{
    color:purple;
}
table{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 1rm;
} 

caption{
    font-weight: bold;
}
tr:nth-child(even){
    background-color:#efefef;
    border-bottom:0.8px solid dimgray;
    border-top:0.8px solid dimgray;
    
}
th{
    background-color: #346bc1;
    color: white;
    border: 1px solid white;
    text-align: center;
    padding: 1rem;
}
tbody:last-child{
    border-bottom: 1px solid #3366cc;
    
}
#linktool{
    color: blue;
    text-decoration: Underline ; 
}
#video{
    width: 100%;
    border-radius: calc(10%);
}
.news{
    background-color: #dfe5e6;
       padding: 1rem; 
       padding-top: 0.2rem;
       box-shadow: 2px 2px 5px #414040;
}
.news h2{
    text-align: center;
    font-size: x-large;
    text-transform:uppercase;
    padding-bottom: 1.5rem;

}
aside h2{
    text-align: center;
    font-size: x-large;
    text-transform:uppercase;
    padding-bottom: 1rem;
    padding-top:1rem ;
}
.article{
    background-color: #dfe5e6;
    padding: 1rem; 
    padding-top: 0.2rem;
    margin: 1rem;
    box-shadow: 2px 2px 5px #414040;
}
aside a{
    color: blue;
    text-decoration: Underline ;
    font-weight: bold;
    
}
#pulsante {
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: bold 12px Arial, Helvetica, sans-serif;
    color: #fff;
    
    border: solid 1px #89a0d7;
    background:#3366cc;
    font-size: large;
    }
  #user_email{
    font-size: large;
    border: none;
    border-bottom: dotted;
   
  }
.data{
    text-align:right;
    margin-bottom: 0.5rem;
}
aside{
    padding-bottom: 1rem;
}
#footer{
    background-image: radial-gradient(circle at 37.72% -19.64%, #005566 0, #005566 25%, #005566 50%, #374237 75%, #374237 100%);
    text-align: center;
    margin: 1.5rem;
    box-shadow: 2px 2px 5px #414040;
    color: white;
    padding: 1rem;
    margin-bottom: 0.1rem;
}
footer a{
    color: #ff00fe;
}

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
