footer{
    font-size: 10px;
    padding-top: 7rem;
    padding-bottom: 1.5rem;
    background-color: $black;
    color: $grey;
    a{
        text-decoration: none;
        color:$grey;
        &:hover{
            color: $white
        }
    }
    i{
        font-size: 20px;
        &:hover{
            color: $white
        }
    }
    .btn-outline-secondary{
        font-size: 10px;
        padding: 0.2rem;
        border-radius: 0;
    }
}
