.profile{
    background-color: $black;
    color: $white;
    h1{
        font-size: 70px;
    }
    .disabled{
        width: 100%;
    }
    .badge{
        left: 10px;
        bottom: 10px;
        color: $white;
    }
    button{
        border-radius: 0;
        width: fit-content;
    }
    select{
        width: fit-content;
        background-color: black;
        color: $white;
        border-radius: 0;
    }
    .row{
        border-bottom: 1px solid $grey;
        padding: 1rem;
        .no-border{
            border-bottom: none;
        }
    }
}