.setting{
    margin-bottom:5rem;
    .btn{
        background-color: rgb(209, 205, 205);
        color: #000
    }
    .img-fluid{
        max-width: 30px !important;
    }
    .ultra{
            max-width: 70px !important;
            border: 1px solid #000;
            border-radius:5px;
            padding: 0.1rem 
        }
    a{
        text-decoration:none;
        color:$blu
    }
    p{
        margin:0
    }
    .riga{
        padding: 1rem 0;
        border-bottom: 1px solid #a3a3a3;
        display: flex;
        align-items: center
    }
    .intermedia{
        border-bottom: 1px solid #a3a3a3;
        padding-bottom: 1em;
    }
    .ultima{
            border-bottom:0px !important
        }
}