/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
main{
    display: flex;
}
#testoAlternato{
    margin: 3rem;
    border: 2px solid black;
    padding: 2rem;
    position: relative;
    padding-right: 4.5rem;
    display: flex;
    flex-direction: column;
}
p{
    overflow: hidden;
    height: 4em;
}
.parole{
    display: block;overflow: hidden;
}
.parole i{
    display: block;
    color: #879aa9;
    animation: fade 6s infinite;
  }


  @keyframes fade {
  10%{
    transform: translateY(0);
  }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-212%);
    }
    50% {
      transform: translateY(-200%);
    }
    75%{
        transform: translateY(-312%);
    }
    85%{
        transform: translateY(-300%);
    }
    100% {
      transform: translate(0);
    }
  }
