@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body{
    background-color: #666666;
    font-family: 'Indie Flower', cursive;
    height: 100%;
    overflow: hidden;
}
#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 4rem ;
}
.post-it{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 250px;
    margin: 2rem;
    padding: 1rem;
    font-size: 35px;
    box-shadow: 10px 5px 5px rgba(8, 8, 8, 0.38);
    animation: animazionePostIt 2s linear 1S;
}
.yellow{
    background-image:linear-gradient(180deg,#f8f8c6,#bdbda2);
    transform: rotate(-5deg);
}
.green{
    background-image:linear-gradient(180deg,#c8f8ca,#9fb6a2);
    transform: rotate(10deg);
}
.purple{
    background-image:linear-gradient(180deg,#c2c3ec,#8b8c9b);
    transform: rotate(10deg);
}
.post-it h2{
    font-size: 50px;
    font-weight: bold;
}
.post-it:hover{
    transition: all 1s;
    transform: rotate(0deg)scale(1.4);
    z-index: 10;
}
@keyframes animazionePostIt {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        z-index: 10;
    }
    1%{
        transform: rotate(5640deg) scale(5);
        opacity: 1;
        
    }
    100% {
        opacity: 1;
        transform: rotate(360deg);
        z-index: 2;
    }
}

#post1{
    animation: animazionePostIt  1s linear 1S backwards;
}
#post2{
    animation: animazionePostIt 1s linear 2S backwards;
}
#post3{
    animation: animazionePostIt 1s linear 3S backwards;
}
#post4{
    animation: animazionePostIt 1s linear 4S backwards;
}
#post5{
    animation: animazionePostIt 1s linear 5S backwards;
}
#post6{
    animation: animazionePostIt 1s linear 6S backwards;
}
#post7{
    animation: animazionePostIt 1s linear 7S backwards;
}
#post8{
    animation: animazionePostIt 1s linear 8S backwards;
}