.navbar{
  .btn{
    font-size: 12px !important;
    svg{
      width: 12px !important;
    }
  }
}
.main{
  height: 100%;
  width: 100%;
  background-image: url('../../../assets/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

h1{
  color: #157347;
  font-size: 100px !important;
}

}
